{
  "storage-driver": "devicemapper",
  "storage-opts": [
    "dm.basesize=50G",
    "dm.use_deferred_deletion=true",
    "dm.use_deferred_removal=true"
  ],
  "insecure-registries": [
      "0.0.0.0/0"
  ],
  "log-driver": "journald"
}
