PX_REGISTRY={{ offline_hub_prefix }}
LIGHTHOUSE_VERSION=latest
LIGHTHOUSE_HTTP_PORT=9080
LIGHTHOUSE_HTTPS_PORT=9433
PWX_PX_PRECREATE_ADMIN=false
INFLUXDB_VERSION=latest
VOLUME_DRIVER=local
PX_ETCD={% for item in groups['etcd'] %}etcd://{{ hostvars[item]['inventory_hostname'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}
